.left-bar-li {
  list-style-type: none;
}
.left-items {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.left-item-normal {
  color: #475569;
}
.left-items:hover {
  color: #0284c7;
}
.left-item-active {
  color: #0284c7;
}

@media screen and (max-width: 550px) {
  .left-items {
    border: 1px solid #0284c7;
    border-radius: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    margin-right: 8px;
  }
  .left-item-normal {
    color: #0284c7;
  }
  .left-item-active {
    color: #ffffff;
    background-color: #0284c7;
  }
}
