.right-li {
  list-style-type: none;
  width: 50%;
  margin-bottom: 20px;
}
.allBooks-link {
  text-decoration: none;
}
.allBooks-div {
  display: flex;
}
.allBooksPic {
  width: 133px;
  height: 155px;
  left: 438px;
  border-radius: 8px;
}
.allBooks-content-div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.allBooks-title {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  color: #334155;
  margin-top: -4px;
}
.allBooks-author {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #475569;
}
.allBooks-rating-div {
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.allBooks-rating {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  color: #475569;
  margin-right: 7px;
}
.star {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  color: gold;
}
.allBooks-rating-value {
  font-family: 'Roboto';
  font-size: 14px;
  color: #334155;
}
.allBooks-status {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #475569;
  margin-top: -1px;
}
.span {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  margin-top: -1px;
  color: #0284c7;
}

@media screen and (max-width: 800px) {
  .right-li {
    width: 100%;
    padding: 10px;
  }
  .allBooks-div {
    display: flex;
    flex-direction: row;

  }
  .allBooksPic {
    width: 200px;
    height: 200px;
    left: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .allBooks-title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    color: #334155;
    margin-top: -4px;
  }
  .allBooks-author {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #475569;
  }
  .allBooks-rating-div {
    display: flex;
    align-items: center;
    margin-top: -15px;
  }
  .allBooks-rating {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    color: #475569;
    margin-right: 7px;
  }
  .star {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    color: gold;
  }
  .allBooks-rating-value {
    font-family: 'Roboto';
    font-size: 14px;
    color: #334155;
  }
  .allBooks-status {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #475569;
    margin-top: -1px;
  }
  .span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    margin-top: -1px;
    color: #0284c7;
  }
}