.route-btn {
  background: none;
  outline: none;
  border: none;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
}
.route-active {
  color: #0284c7;
}
.route-li {
  list-style-type: none;
  margin: 12px;
}
.route-link {
  text-decoration: none;
}
