.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-logo {
  width: 100px;
  margin-left: 78px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 158px;
}

.nav-links {
  color: rgb(83, 81, 81);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 17px;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #0284c7;
}

.nav-item .active {
  color: #0284c7;
  border: 1px solid #0284c7;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;
  }
  .nav-logo {
    margin-left: 25px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 40px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
  }

  .nav-menu.active {
    background: #e5e7eb;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
  }
  .nav-item .active {
    color: #0284c7;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    margin-top: -15px;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
    color: #0284c7;
  }
}
.logout-btn {
  border: none;
  outline: none;
  background: #0284c7;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  color: #f8fafc;
  padding: 8px 16px;
  margin-top: 7px;
  cursor: pointer;
}
.mobile-btn {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 23px;
}
