.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(12, 91, 167, 0.43);
}
.log-img {
  height: 100%;
  width: 600px;
}
.login-form {
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 16px #c3cad9;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: 10px;
  
}
.login-logo {
  margin-bottom: 25px;
}
.inputs-div {
  width: 80%;
}
.user-label {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #5a7184;
}
.input {
  width: 100%;
  height: 45px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #ffffff;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
  border-radius: 8px;

  padding-left: 20px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;

  color: #183b56;
}
.login-btn {
  width: 80%;
  height: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #0284c7;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
}
.login-error {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ef4444;
  text-align: start;
  width: 80%;
  margin-top: -18px;
  margin-bottom: 20px;
}

@media(max-width: 768px) {
  .login-div {
    flex-direction: column;
    justify-content: center;
  }
  .log-img {
    width: 50%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .login-form {
    margin-right: 10px;
    margin-left: 10px;
    width: 550px;
  }
}